<%- include("header"); -%>

<h1 class="text-dm">Internships and Programs</h1>

<% for(var i=0;i<intern.length;i+=5) { %>
    <div class="card text-center custom-card-dm sirj-card">
      <div class="card-header">
       <h4 class="sirj-heading"> <%= intern[i] %> </h4>
      </div>
      <div class="card-body">
        <h4 class="sirj-content">Timeline : <%=intern[i+1]%> </h4>
       <h4 class="sirj-content">Eligiblity : <%=intern[i+2]%> </h4>

      </div>
      <div class="card-footer" style="padding-bottom:10px;">
        <a class="btn btn-md btn-light custom-btn sir-btn" style="margin-right:5px;" href="<%= intern[i+3] %>" target="_blank">Visit</a>
        <a href="<%= intern[i+4] %>" class="btn btn-md btn-light custom-btn" target="_blank"><i class="fab fa-youtube"></i> How to Apply</a>
      </div>
     
    </div>
    <% } %>



<%- include("footer"); -%>
